body{
    background-color: #d1dfe2;
}
.login__logo{
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translate(-50%);
    width: 202.81px;
    height: 60px;
}
.login__form{
    width: 570px;
    height: 457px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 171px;
    background: #FFFFFF;
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;
}
.login__form h2{
    margin-top: 154px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
.form__google{
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 57px;
    width: 457px;
    height: 51px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}
.form__google:hover{
    cursor: pointer;
    border: 1px solid #7293ff;
}
.form__google i{
    position: absolute;
    font-size: 31px;
    left: 455px;
    top: 396px;
    
}
.form__google p{
    margin-top: 15.5px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.login__form p{
    margin-top: 15px;
    text-align: center;
}